/* Основні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html {
    cursor: crosshair;
}

.container-main {
    background: #131313;
    display: grid;
    place-items: center;
    min-height: 600px;
    padding: 20px;
}

body {
    line-height: 1.6;
    transition: margin-left 0.3s;
    text-align: center;
    color: white;
}

.footer-div {
    width: 100%;
    height: 70px;
    background: #212121;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #1a1a1a;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    padding: 5px;
}

.sidebar {
    width: 250px;
    position: fixed;
    left: -250px;
    top: 50px;
    height: 100%;
    background: #1a1a1a;
    transition: 0.3s;
    padding-top: 20px;
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
}

.sidebar a:hover {
    background: #2d2d2d;
}

.menu-btn {
    position: fixed;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
    background: #292929;
    border-radius: 5px;
    z-index: 1000;
    transition: 0.7s ease;
}

.flashing-border {
    border: 4px solid #FFD700;
    animation: flash 2s infinite alternate;
    box-shadow: 0 0 10px #FFD700;
    transition: box-shadow 0.3s ease-in-out;
    max-width: 800px;
    width: 100%;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 50px;
}

@keyframes flash {
    0% {
        border-color: #aa00ff;
        box-shadow: 0 0 10px #aa00ff;
    }
    50% {
        border-color: #f700ff;
        box-shadow: 0 0 15px #f700ff;
    }
    100% {
        border-color: #ff00bb;
        box-shadow: 0 0 20px #ff00bb;
    }
}

/* Адаптивність */
@media (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        left: -100%;
    }
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .sidebar {
        width: 100%;
        left: -100%;
    }
}
